.input-consent {
  display: flex;
  gap: 1.2rem;
  margin-top: 1rem;
}

.input-consent {
  &__text {
    font-family: "GothamLight";
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
