.app-menu {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  text-align: start;
  width: 30rem;
}

.nav-btn {
  display: flex;
  gap: 1.3rem;
  background-color: #fff;
  font-family: "GothamProRegular";
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  white-space: nowrap;
  cursor: pointer;
}

.nav-btn span:first-child {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}
