.sm-search-wrapper {
  min-height: 44px;
  flex-basis: 477px;
}

.sm-search {
  display: flex;
  align-items: stretch;
  &__input {
    background-color: #4677ef;
    font-size: 14px;
    padding: 10px 16px;
    flex-basis: 100%;
    text-align: left;
  }
  &__input:hover {
    background-color: #2a63ef;
  }
  &__input::placeholder {
    font-family: "GothamProRegular", sans-serif;
    color: #abd2ff;
  }
  &__btn {
    flex-basis: 112px;
    background-color: #0e42c1;
    font-family: "GothamProRegular", sans-serif;
    color: #fff;
  }
}
