.portal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.portal {
  display: flex;
  position: relative;
  padding: 8rem;
  background-color: #fff;
  max-width: 150rem;
}

.close-portal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 1.5rem;
  right: 1.5rem;
}
.close-portal::before {
  content: "+";
  color: black;
  position: absolute;
  z-index: 20;
  transform: rotate(45deg);
  font-size: 3rem;
  line-height: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.close-portal:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: black;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}
