.accounts-table th,
.accounts-table td {
  border-bottom: 1px solid rgba(227, 227, 227, 1);
}

.accounts-table {
  width: 100%;
  &__title th {
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-align: left;
    padding: 1rem;
  }
  &__account td {
    font-family: "GothamBook";
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: left;
    padding: 1.9rem 1rem 1.9rem 1rem;
  }
  &__account-label {
    display: flex;
    align-items: center;
  }
  &__account-checkbox {
    margin-right: 1rem;
    width: 16px;
    height: 16px;
  }
  &__btn-key {
    background: url(../../img/key.svg) no-repeat;
  }
  &__btn-update {
    background: url(../../img/update.svg) no-repeat;
  }
}
