.header-bar {
  display: flex;
  align-items: center;
  background-color: #0e42c1;
  color: #bdd3f7;
  font-size: 1.2rem;
  height: 3.6rem;
  &__city {
    position: relative;
    padding: 2.1rem;
  }
  &__city::before {
    content: "";
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-image: url("../../img/flag.svg");
    position: absolute;
    left: 0;
  }
  &__phone {
    margin-left: 3.7rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1551e5;
  height: 7.2rem;
  &__logo {
    width: 19.8rem;
    height: 2.6rem;
    background-image: url(../../img/logo.svg);
  }
  &__login {
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #1551e5;
    color: #fff;
  }
}

.sm-search-wrapper {
  min-height: 44px;
  flex-basis: 477px;
}

.sm-search {
  display: flex;
  align-items: stretch;
  &__input-wpapper {
    background-color: #4677ef;
    padding: 10px 16px;
    flex-basis: 100%;
    text-align: left;
  }
  &__input-wpapper:hover {
    background-color: #2a63ef;
  }
  &__input {
    background-color: #4677ef;
    font-size: 14px;
  }
  &__input:hover {
    background-color: #2a63ef;
  }
  &__input::placeholder {
    font-family: "GothamProRegular", sans-serif;
    color: #abd2ff;
  }
  &__btn {
    flex-basis: 112px;
    background-color: #0e42c1;
    font-family: "GothamProRegular", sans-serif;
    color: #fff;
  }
}
