.filter-btns {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  &__input-form {
    margin-right: 3rem;
  }
  &__filter-btns-wrap {
    display: flex;
    gap: 3rem;
  }
  &__down span::before {
    background: url(../../img/sortDown.svg) no-repeat;
    background-size: 100%;
  }
  &__add span::before {
    background: url(../../img/add.svg) no-repeat;
    background-size: 100%;
  }
  &__up span::before {
    background: url(../../img/sortUp.svg) no-repeat;
    background-size: 100%;
  }
  &__update span::before {
    background: url(../../img/update.svg) no-repeat;
    background-size: 100%;
    width: 2rem;
    height: 2rem;
  }
}

.filter-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 42rem;
  flex-basis: 100%;
  background-color: #f5f5f5;
  padding-left: 2rem;
  &__input {
    background-color: #f5f5f5;
    font-family: "GothamProMedium";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  &__button {
    flex-basis: 62px;
    background-color: #f5f5f5;
    padding: 0 2rem;
  }
  &__button::before {
    display: block;
    content: " ";
    background: url(../../img/filter-search.svg) no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
  }
}
