.action-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.action-btn span {
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
  &::before {
    display: flex;
    content: " ";
    width: 22px;
    height: 22px;
  }
}
