.add-form {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // width: 100%;
  min-width: 72rem;
  &__title {
    margin-bottom: 3.2rem;
    font-size: 2.8rem;
    text-align: start;
  }
  &__text-area {
    font-size: 1.4rem;
    flex-shrink: 0;
    border: 0;
    outline: 1px solid #e3e3e3;
    padding: 10px 15px;
    background-color: transparent;
    color: #000;
    font-family: inherit;
    font-weight: 300;
    min-width: 72rem;
    min-height: 40rem;
  }
  &__input-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  &__btn-input {
    font-family: "GothamProRegular";
    padding: 1.5rem 2rem;
    background-color: white;
    border: 1px solid #e3e3e3;
    font-size: 1.4rem;
    text-align: start;
    color: #e3e3e3;
    font-size: 1.4rem;
  }
  &__btn-add {
    width: 100% !important;
  }
  &__main-input-wrap {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.6rem;
  }
  &__input-title {
    font-family: "GothamProRegular";
    font-size: 1rem;
    font-weight: 400;
    color: #939393;
  }
}
